<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.StudentDao">

    <insert id="uploadPlan" keyProperty="id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Plan">
        insert into plan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            title,plan_direction,type,description,student_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{title}, #{plan_direction},#{type},#{description},#{student_id}
        </trim>;
    </insert>

    <insert id="goSignin">
        INSERT INTO rela_project_signin
        <trim prefix="(" suffix=")" suffixOverrides="," >
            project_id,student_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{project_id}, #{student_id}
        </trim>;
    </insert>

    <insert id="quitSignin">
        DELETE FROM rela_project_signin
        WHERE project_id=#{project_id} and student_id=#{student_id}
    </insert>

    <insert id="goStar">
        INSERT INTO rela_project_star
        <trim prefix="(" suffix=")" suffixOverrides="," >
            project_id,student_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{project_id}, #{student_id}
        </trim>;
    </insert>

    <delete id="quitStar">
        DELETE FROM rela_project_star
        WHERE project_id=#{project_id} and student_id=#{student_id}
    </delete>

    <update id="updatePlan" parameterType="com.mobilecourse.backend.model.Plan">
        update plan
        <set>
        <if test="title!=''">title=#{title},</if>
        <if test="plan_direction!=''">plan_direction=#{plan_direction},</if>
        <if test="type!=''">type=#{type},</if>
        <if test="description!=''">description=#{description}</if>
        </set>
        where id=#{id};
    </update>

    <delete id="cancelPlan" parameterType="java.lang.Integer">
        delete from plan
        where id=#{id};
    </delete>

</mapper>