<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.TeacherDao">

    <!-- parameterType指定了参数类型 -->
    <insert id="insert"  keyProperty="id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Teacher">
        INSERT INTO teacher
        <trim prefix="(" suffix=")" suffixOverrides="," >
            username, password
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{username}, #{password}
        </trim>;
    </insert>

    <select id="ifUsernameDuplicate" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM teacher
        where username=#{username}
    </select>

    <select id="ifUserExists" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM teacher
        where username=#{username} and password=#{password}
    </select>


</mapper>