<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.TeacherDao">

    <!-- parameterType指定了参数类型 -->
    <insert id="uploadProject" keyProperty="id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Project">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides="," >
            title,research_direction,requirement,description,teacher_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{title}, #{research_direction},#{requirement},#{description},#{teacher_id}
        </trim>;
    </insert>

    <update id="updateProject" parameterType="com.mobilecourse.backend.model.Project">
        update project
        <set>
        <if test="title!=''">title=#{title},</if>
        <if test="research_direction!=''">research_direction=#{research_direction},</if>
        <if test="requirement!=''">requirement=#{requirement},</if>
        <if test="description!=''">description=#{description}</if>
        </set>
        where id=#{id};
    </update>

    <delete id="cancelProject" parameterType="java.lang.Integer">
        delete from project
        where id=#{id};
        delete from rela_project_signin
        where project_id=#{id};
        delete from rela_project_star
        where project_id=#{id};
    </delete>

    <select id="getSignin" parameterType="java.lang.Integer" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM user
        WHERE user.id in (
        SELECT student_id
        FROM rela_project_signin
        WHERE project_id=#{project_id});
    </select>

    <select id="getProById" parameterType="java.lang.Integer" resultType="com.mobilecourse.backend.model.Project">
        SELECT *
        FROM project.project
        WHERE project.project.teacher_id =#{id};
    </select>

</mapper>