<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.TeacherDao">

    <!-- parameterType指定了参数类型 -->
    <insert id="uploadProject" keyProperty="id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Project">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides="," >
            title,research_direction,requirement,description,teacher_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{title}, #{research_direction},#{requirement},#{description},#{teacher_id}
        </trim>;
    </insert>

    <insert id="updateProject" parameterType="com.mobilecourse.backend.model.Project">
        update project set
        <if test="title!=''">title=#{title},</if>
        <if test="research_direction!=''">research_direction=#{research_direction},</if>
        <if test="requirement!=''">requirement=#{requirement},</if>
        <if test="description!=''">description=#{description}</if>
        where id=#{id};
    </insert>


</mapper>